/*/Selector{
	Property; Value;
}*/

*{
	text-align: right;
}

body {
	background-image: url(riki-ramdani-Z0ft696zXN4-unsplash.jpg);
	background-size: cover;
}

h2, p {
	color: #AA4139;
	text-align: center;
	border: 5px solid rgba(255,176,170, 0.5);
	cursor: pointer;
}


p {
	color: green;
}

li{
	list-style: none;
	display: inline-block;
}

.webtext {
	border: 5px dashed green;
}

.active {
	color: red;
}

#div1 {
	background: rgba(0,0,255,0.25);
}

#div2 {
	background: rgba(0,255,0,0.25);
}